In [2]:
import pandas as pd

In [7]:
df_country = pd.read_csv('../data/Country_Consumption_TWH.csv')
df_continent = pd.read_csv('../data/Continent_Consumption_TWH.csv')
df_non_renew_pow_gen = pd.read_csv('../data/nonRenewablesTotalPowerGeneration.csv')
df_renew_pow_gen = pd.read_csv('../data/renewablePowerGeneration97-17.csv')
df_renew_tot_pow_gen = pd.read_csv('../data/renewablesTotalPowerGeneration.csv')
df_top20__pow_gen = pd.read_csv('../data/top20CountriesPowerGeneration.csv')

In [8]:
print('Country: ', df_country.isna().any().sum())
print('Continent: ', df_continent.isna().any().sum())
print('Non Renewable: ', df_non_renew_pow_gen.isna().any().sum())
print('Renewable: ', df_renew_pow_gen.isna().any().sum())
print('Total Pow Generation: ', df_renew_tot_pow_gen.isna().any().sum())
print('Top 20 power Generation: ', df_top20__pow_gen.isna().any().sum())

Country:  45
Continent:  0
Non Renewable:  0
Renewable:  0
Total Pow Generation:  0
Top 20 power Generation:  0

In [18]:
df_country[df_country.isna().any(axis=1)]

,Year,China,United States,Brazil,Belgium,Czechia,France,Germany,Italy,Netherlands,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_country.dropna(inplace=True)

In [20]:
df_country[df_country.isna().any(axis=1)]

Empty DataFrame
Columns: [Year, China, United States, Brazil, Belgium, Czechia, France, Germany, Italy, Netherlands, Poland, Portugal, Romania, Spain, Sweden, United Kingdom, Norway, Turkey, Kazakhstan, Russia, Ukraine, Uzbekistan, Argentina, Canada, Chile, Colombia, Mexico, Venezuela, Indonesia, Japan, Malaysia, South Korea, Taiwan, Thailand, India, Australia, New Zealand, Algeria, Egypt, Nigeria, South Africa, Iran, Kuwait, Saudi Arabia, United Arab Emirates]
Index: []

[0 rows x 45 columns]

In [21]:
df_country.to_csv('../data/Country_Consumption_TWH.csv')